<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Dekko" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai:500" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css" />
</head>

<body>
    <div>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">European Cuisine</a>
                </div> <!--navbar-header-->
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="index.html">Home</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Recipes
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="tomatoes.html">Tomatoes</a></li>
                                <li><a href="#">Soups</a></li>
                                <li><a href="#">Meatlovers</a></li>
                                <li><a href="#">Vegetarian</a></li>
                                <li><a href="#">Bread and pastry</a></li>
                                <li><a href="#">Sweets</a></li>
                                <li><a href="#"></a></li>
                            </ul>
                        </li>
                        <li><a href="ingredients-list.html">Ingredients</a></li>
                        <li><a href="#about">About</a></li>
                    </ul>
                </div> <!--navbar-collapse-->
            </div> <!--cont-fluid-->
        </nav>
    </div>

    <div id="content">
        @RenderBody()
    </div> <!--content-->

    <footer>
        <div id="todaysDate"></div>
        <div id="copyright">&copy; Bratislava food @DateTime.Now.Year</div>
    </footer>

    <script src="../js/jquery-3.1.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../js/footer-info.js"></script>
    <script src="../js/toggle-list.js"></script>

</body>
</html>


