@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <figure>
                <a href="#"> <img src="images/tomatoes.jpg" class="img-responsive" alt="Just Tomatoes" /></a>
                <figcaption>Just tomatoes</figcaption>
            </figure>
        </div> <!--col-md-6-->
        <div class="col-xs-12 col-md-6 about-section">
            <a href="about"></a>
            <p>I'm an expat currently living in England who recently discovered amazing world of coding and website development.</p>
            <p>I'm also a foodie who loves trying new interesting meals of various national cuisines. I've decided to join my two passions and build a small food blog.</p>
            <p>I will share here my favourite meals from the countries I'm related to in some way - Slovakia, Hungary, England and Italy.</p>
            <p>Contact:</p>
        </div> <!--col-md-6-->
    </div> <!--row-->
</div> <!--container-fluid-->

