@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Tomatoes Recipe";

 }

    <div>
    <h2>@ViewBag.RecipeName</h2>
        <p>@Html.Raw(ViewBag.Description)</p>
        <h2>Ingredients:</h2>
        <ul>
            @foreach (var ingredient in ViewBag.Ingredients)
            {
                <li>@ingredient</li>
            }
        </ul>
    </div>
