@{
    Layout = null;

 }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <h2>@ViewBag.RecipeName</h2>
        <p>@Html.Raw(ViewBag.Description)</p>
        <h2>Ingredients:</h2>
        <ul>
            @foreach (var ingredient in ViewBag.Ingredients)
            {
                <li>@ingredient</li>
            }
        </ul>
    </div>
</body>
</html>
